<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/testing_system</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.Choices"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.Groups"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.Images"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.MissingWordQuestions"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.MultiChoiceQuestions"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.Questions"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.SingleChoiceQuestions"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.Students"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.StudentsTests"/>
    <mapping class="ru.lephant.java.rgatu.TestingSystem.entities.Tests"/>
  </session-factory>
</hibernate-configuration>